/****************************CSS de index.html********************************/
/*#start {

	height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 46%;
    margin-top: -100px;
    margin-left: -200px;

    font-size:20pt;
	font-family:times new roman;
	font-weight:bold;
}*/

#startInput {

	height: 500px;
    width: 500px;

    position: fixed;
    top: 35%;
    left: 45%;
    margin-top: -100px;
    margin-left: -200px;

    font-size:20pt;
	font-family:times new roman;
	font-weight:bold;
}

input[type=text] {

    background: transparent;
    border: none;
    border-bottom: 3px solid #308014;
    text-align: center;

    font-size:20pt;
    color: #0276FD;
    font-family:times new roman;
    font-weight:bold;
}

/**************************CSS de menu.html**********************************/
.sidebar{
    width: 100%;
    position: fixed;
    top: 20%;

}

.center{
    width: 100%;
    text-align: center;
}

.center span{
    width: 100%;
    display: inline-block;

}

/**************************Botones*********************************/

.button {
    background-color: #308014;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/**************************Texto preguntas - Examenes************************/

#pregunta {
    position: fixed;
    top: 20%;
    left: 36%;

    font-size:20pt;
    color: #0276FD;
    font-family:times new roman;
    font-weight:bold;
}

.respuesta {

    background-color: #308014;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: normal;
    height:118px;
    width:200px;
}

/*******************Font de saludo en la parte superior izquierda******/

#saludo {
    font-size:20pt;
    font-family:times new roman;
    font-weight:bold;
}

#saludo span{
    color: #0276FD;
}

/**************TABLA PUNTUACION**************************/
#rounded-corner td,th,tr,table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 600px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
}

#rounded-corner thead th {
    background: #0276FD left -1px no-repeat;
}